import os

DATABASE = {
        'NAME': "stylelend",
        'USER': "postgres_user",
        "PASSWORD": "password",
        "HOST": "localhost",
        "PORT": "5432",
    }

LOCAL_TIMEZONE = 'US/Eastern'

# Don't change this
DATABASE_URI = 'postgres://%s:%s@%s:%s/%s' % (DATABASE['USER'],
        DATABASE['PASSWORD'],DATABASE['HOST'],DATABASE['PORT'],DATABASE['NAME'])

