{% extends "base.jinja2" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <span class="header">About</span>
    <p class="explanation_p">
    This is an independent consulting project for <a
    href="http://stylelend.com">Stylelend.com</a>. They provide an online
    market place for women to lease out their clothing to other people. The
    problem right now is that you must send your clothes into them to have
    the worth of your clothing evaluated. Who wants to wait that long to
    find out how much your clothing items are worth?
    </p>
  </div> <!-- col-md-6  -->
  <div class="col-md-6">
    <span class="header">The Solution</span>
    <p class="explanation_p">
    This is an app that uses machine learning techniques on the database
    of inventory to make a prediction of how much you will earn just by
    entering in a few details on your clothes.
    </p>
  </div> <!-- col-md-6  -->
</div><!-- /.row -->
<hr class="fancy_hr">

{% endblock %}
