{% extends "base.jinja2" %}

{% block content %}
    <form method="POST" action="{{ url_for('main.finditem') }}">
	{{ form.description.label }}
	{{ form.description }}
	{{ form.submit }}
    </form>
{% endblock %}
