{% extends "base.jinja2" %}

{% block content %}
<div class="form-group">
  <form method="POST" action="{{ url_for('main.index') }}" class="form-inline">

<div style='text-align: center; margin: 50px 0;'>
    <h2>Regress the Dress</h2>
</div>
    <div class="row">
      <div id="description_field_row" class="col-md-12">
          {{ form.description.label }}: <br />
          {{ form.description(class_='form-control', onfocus="if
              (this.value=='Name') this.value='';") }} <br />
      </div>
    </div><!-- /.row -->

    <div id="brand_item_type_field_row" class="row">
      <div class="col-md-5">
          <span id="item_type_label">{{ form.item_type.label }}:</span>
          {{ form.item_type(class_='form-control') }}
      </div>
      <div class="col-md-5">
        <span id="brand_label">{{ form.brand.label }}:</span>
        {{ form.brand(class_='form-control') }}
      </div>
      <div class="col-md-2 text-right">
        {{ form.submit(class_="btn btn") }} <br />
      </div>
    </div><!-- /.row -->

  </form>
</div><!-- /.from-group -->

<div class="row" style='margin: 60px 0;'>
  <div id="description_field_row" class="col-md-12">
    Example searches:
    <ul>
      <li><a href="#" class="pre-descr">Gown with Long Sleeves and Deep V</a></li>
      <li><a href="#" class="pre-descr">Micah Floral Silk Wrap Dress</a></li>
      <li><a href="#" class="pre-descr">Adrianna Papell Print Satin Chiffon Handkerchief Dress</a></li>
      <li><a href="#" class="pre-descr">Loveappella V-Neck Jersey Maxi Dress (Regular & Petite)</a></li>
    </ul>
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->

{% if request.method == 'POST' %}
<div class="panel panel-success">
  <div class="panel-heading">Results</div>
    <div class="panel-body">
          Predicted value for item:
          ${{ predicted_value }} per week
    </div>
</div>
{% endif %}
{% endblock %}

